.formss {
    width: 500px;
    border: 2px solid red;
    margin: 100px auto;
}

.inputs {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-grow: 1;
}

.inputfields {
    width: 50%;
    padding: 10px 0;
}

.todos {
    width: 100%;
    border: 2px solid #ddd;
    height: fit-content;
    display: flex;
}

.todo {
    display: flex;
    justify-content: space-between;
}